.main-footer{
    background-color: rgb(67,87,97);
    color: white;
    padding: 20px 10px 20px 20px;
}
.copyrights{
    background-color: rgb(48,62,69);
    color: white;
    padding: 20px 10px 20px 20px;
}